#chisiamo_content{
  display: block;
  margin: 20px 15px auto 15px;
  color:#fff;
}

#dovesiamo_content{
  display: block;
  margin: auto 15px;
  color:#fff;

}

#line {color:24262b;}

#map{
  display: block;
  margin: 50px auto;

}