/* ----------------------------------
STILE LOGIN CONTAINER


.login-container{
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    display: block;
    margin: 100px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 }
 .login-container h1{
   text-align: center;
   margin-bottom: 20px;
 }
 
 .content form .user-details{
    display: block;
    margin: 20px 0 12px 0;
 }
 form .user-details .input-box{
   margin-bottom: 15px;
 }

 form .input-box span.details{
   display: block;
   margin-bottom: 5px;
   font-weight: bold;
 }

 .user-details .input-box input{
   height: 45px;
   width: 100%;
   outline: none;
   border-radius: 5px;
   padding-left: 15px;
   border: 1px solid #ccc;
   transition: all 0.3s ease;
 }
 .user-details .input-box input:focus,
 .user-details .input-box input:valid{
   border:2px solid rgb(88,185,157);
 }
  form .gender-details .gender-title{
   font-size: 20px;
   font-weight: 500;
  }
  form .category{
    width: 80%;
    margin: 14px 0 ;
    justify-content: space-between;
  }
  form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  form .button{
    height: 45px;
    margin: 35px 0
  }

  form .button input{
   background-color: rgb(88,185,157);
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   font-size: 16px;
   cursor: pointer;
   display: block;
   margin: 0 auto;
  }
  form .button input:hover{
   background-color: rgb(70, 150, 128);
 }

 .login-container .content .link-register {
    display: flex;
    justify-content: center ;
    text-align: center;
}

.login-container .content .link-register .link-register-right {
  cursor: pointer;
  margin-left: 5px ;
  color:rgb(88,185,157);
  text-decoration: none;
}

.login-container .content .link-register .link-register-right:hover {
  text-decoration: underline;
}
------------------------------------- */

.static {
  text-align: center;
}

.static h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.static p {
  margin-bottom: 20px;
}

.container-contact {
  display: flex;
  justify-content: center;
}

.wrap-contact1 {
  width: 400px;
  padding: 40px 30px;
  background-color: #f6f6f6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label-input {
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.errors {
  color: red;
  margin-bottom: 10px;
  list-style: none;
  padding: 0;
}

.form-btn1 {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-btn1:hover {
  background-color: #45a049;
}

