/*.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width:600px;
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  
  .card-image {
    height: 150px;
    overflow: hidden;
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-details {
    padding: 10px;
  }
  
  .card-details h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .card-details p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .coupon-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    
  }
  */
  .product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    color: #fff;
  }
  
  .product-image {
    margin-right: 50px;
  }
  
  .product-image img {
    max-width: 100%;
  }
  
  .product-info {
    max-width: 60%;
  }
  
  .product-info h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .product-info p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .product-info p.prezzo_originale {
    text-decoration: line-through;
    font-size: 12px;
    color: red;
    margin-bottom: 2px;
  }

  .product .product-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .product-info p.prezzo_scontato {
    font-style: bold;
    color: green;
  }
  

  .product-info button {
    height: 50px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88,185,157);
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
  }
  
  .product-info button:hover {
    background-color: rgb(70, 150, 128);
  }