
.signup-container{
   width: 60% ;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    display: block;
    margin: 100px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.signup-container h1{
  text-align: center;
  margin-bottom: 20px;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box, form .user-details .input-radio-button{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  
}
form .user-details .input-radio-button input{
  
  outline: none;
  border-radius: 5px;
  margin-top: 15px;
 cursor:pointer;
}
/*css dei titoli dei box e radio button*/
.label-input{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/*css scritta dentro i box*/
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}
/*css dei box quando si utilizzano*/
.user-details .input-box input:focus{
  border: 2px solid rgb(88,185,157);
}


 form .category{
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 
/*
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: rgb(88,185,157);
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }*/
 
 form .button{
   height: 45px;
   margin: 35px 0
 }
 
 form .button input{
  background-color: rgb(88,185,157);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
 }
 form .button input:hover{
  background-color: rgb(70, 150, 128);
}

.signup-container .content .link-login {
    
  display: flex;
  justify-content: center ;
  text-align: center;
  
}

.signup-container .content .link-login .link-login-right {
  cursor: pointer;
  margin-left: 5px ;
  color:rgb(88,185,157);
  text-decoration: none;
}

.signup-container .content .link-login .link-login-right:hover {
  text-decoration: underline;
}

/**css messaggio di errore*/
.errors {
  color: red;
  margin-bottom: 5px;
  list-style: none;
  padding: 0;
  font-size: 14px;
  padding-left: 15px;
}